<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Joydun</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apps<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/lab-1/"><img src="https://cdn4.iconfinder.com/data/icons/one-line-icons-v1/100/oneline_home-20.png" alt="">Homepage</a></li>
            <li><a href="/lab-2/"><img src="https://cdn2.iconfinder.com/data/icons/seo-and-digital-marketing-6-1/48/295-20.png" alt="">Biodata</a></li>
            <li><a href="/lab-3/"><img src="https://cdn1.iconfinder.com/data/icons/personal-business-finance-4-2/64/x-10-20.png" alt="">Diary</a></li>
            <li><a href="/lab-4/"><img src="https://cdn4.iconfinder.com/data/icons/financial/100/9-20.png" alt="">Portofolio</a></li>
            <li><a href="/lab-5/"><img src="https://cdn3.iconfinder.com/data/icons/office-and-business-6/512/7-20.png" alt="">Memo</a></li>
            <li><a href="/lab-6/"><img src="https://cdn2.iconfinder.com/data/icons/picons-basic-3/57/basic3-105_calculator-20.png" alt="">Calculator</a></li>
            <li><a href="/lab-7/"><img src="https://cdn3.iconfinder.com/data/icons/computer-system-and-data/512/7-20.png" alt="">Fasilkom Database</a></li>
            <li><a href="/lab-8/"><img src="https://cdn2.iconfinder.com/data/icons/file-type-3/512/facebook-20.png" alt="">FB Login</a></li>
            <li><a href="/lab-9/"><img src="https://cdn3.iconfinder.com/data/icons/computer-system-and-data/512/3-20.png" alt="">EnterKomputer DB</a></li>
            <li><a href="/lab-10/"> <img src="https://cdn3.iconfinder.com/data/icons/multimedia/100/play_movie_3-20.png" alt="">OMDb</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav nav-right pull-right">
        <li><a href="{% url 'lab-10:movie_list' %}">Movie List</a></li>
        <li><a href="{% url 'lab-10:list_watch_later' %}">Watch Later</a></li>
      <ul class="nav navbar-nav nav-right pull-right">
        <li><a href="{% url 'lab-9:auth_logout' %}">Logout</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
