{% extends "layout/base4.html" %}

    {% block content %}
    <br>
    <br>
    <br>
    <center>
    <h1><strong>Muhammad Jihad Rinaldi</strong></h1>
    <img src="https://i.imgur.com/cw5qNRw.jpg"
     class="img-circle"
      .img-circle{
      border-radius:50%
      style="height:170px"
    }
    />
</center>
    <!-- <hr/> -->
    <section name="bio">
        <center><h2><strong>Bio</strong></h2></center>
        <center>
          <h4>
            {{content}}
        </>
          </h4>
        </strong>
        </center>
    <hr/>
    <section name="about_me" align="left">
        <h2>Course Taken</h2>

            {% for ii in about_me %}
        {{ ii }} <br>
            {% endfor %}

    </section>
    <section name="about_me" align="right">
        <h2>Language & Tools</h2>

            {% for ii in programming_language %}
            {{ ii }}
            <br>
            {% endfor %}

    </section>

    <hr/>
    <section name="form">
        <h2>Send Message</h2>

        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
          {{ message_form }}
          {% csrf_token %}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

    {% endblock %}
