{% extends "layout/base4.html" %}

{% block title %}
Message List
{% endblock %}


{% block content %}
<!--  Populate semua isi pesan dari model -->
<center>
<img  src="https://img00.deviantart.net/4a2a/i/2012/057/b/2/messages_icon_by_tomeqq-d4r34df.png" width="200px" class="img-circle"
/>
</center>

<table class="table">

    <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>
        <th>Created</th>
    </thead>
    <tbody>
        <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
        {% for i in message %}
        {% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
        <tr class="warning"> {% else %} <tr class="success">
            {% endif %}
            <td> {{i.name}} </td>
            <td> {{i.email}} </td>
            <td> {{i.message}} </td>
            <td> {{i.created_date.time}} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
