{% extends "lab_2/layout/base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
</style>
<body style="background-color: lightblue">

<div class="center_screen">
    <h1 class="status" id="test">Hello, this is {{ name }}.</h1>
    <article class="status" id="test">Click 'Details' to see my biography. </article> <br>
    <details class="status" id="test">{{ content }}. </details>

</div>
{% endblock %}
