{% extends "lab_8/layout/base.html" %}

{% block content %}
<!-- Src: https://developers.facebook.com/docs/facebook-login/web -->
<form>
  <center>
<div>
  <h3><div id="UserData">
  </div></h3>
<div class="text">
  <textarea class="form-control" rows="4" id="textarea"></textarea>
  <br>
  <button type="button" class="btn btn-primary ">Post</button>
</div>
<br>
<button type="button" class="btn btn-info" onclick="getUserData()">Get information user</button>
</div>
<hr>
<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div>

</center>
</form>
{% endblock %}

<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v2.11&appId=1999209187016695';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
