{% extends "lab_8/layout/base.html" %}

{% block content %}
<!-- Src: https://developers.facebook.com/docs/facebook-login/web -->
<!-- Pic Src: https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Facebook_New_Logo_%282015%29.svg/1200px-Facebook_New_Logo_%282015%29.svg.png -->
<div id="lab_8">
<!-- auto reload after 2 minutes -->
<!-- <meta http-equiv="refresh" content="120" > -->
<center>
  <a href="https://facebook.com" target="_blank" id="userPic">
    <img style="height:80px" class="center" src="http://is1.mzstatic.com/image/thumb/Purple128/v4/71/c6/d4/71c6d492-b0d8-7136-75b8-5198b11a5023/source/175x175bb.jpg">
    <img style="height:80px" class="center"src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Facebook_New_Logo_%282015%29.svg/1200px-Facebook_New_Logo_%282015%29.svg.png"/>
  </a>
  <strong><h3><center>
    <div id="UserData">
    </div></strong>
<br>
    <div class="table-responsive">
      <table style="width:50%;" class="table table-hover">
        <thead>
          <tr>
            <th>Bio</th>
            <th>Account Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="https://cdn0.iconfinder.com/data/icons/cosmetic-store/25/Last_name-32.png" alt=""><br>First Name</td>
            <td  style="text-align: center" id="firstName"></td>
          </tr>
          <tr>
            <td><img src="https://cdn0.iconfinder.com/data/icons/cosmetic-store/25/Last_name-32.png" alt=""><br>Last Name</td>
            <td  style="text-align: center" id="lastName"></td>
          </tr>
          <tr>
            <td><img src="https://cdn2.iconfinder.com/data/icons/users-20/24/gender-female-male-32.png" alt=""><br>Gender</td>
            <td  style="text-align: center" id="gender"></td>
          </tr>
          <tr>
            <td><img src="https://cdn4.iconfinder.com/data/icons/cinema-outline-icon-set/30/16-32.png"><br>Age</td>
            <td  style="text-align: center"  id="age"></td>
          </tr>
          <tr>
            <td><img src="https://cdn1.iconfinder.com/data/icons/line-essentials-7/20/332-32.png"><br>FB Verify Status</td>
            <td  style="text-align: center"  id="status"></td>
          </tr>
          <tr>
            <td><img src="https://cdn3.iconfinder.com/data/icons/miniglyphs/500/063-32.png"> <br> Email</td>
            <td style="text-align: center" id="email">Not Registed</td>
          </tr>
        </tbody>
      </table>
    </div>

<div style="  position: fixed;
  right: 20px;
  bottom: 0px;
  background: white;
  width: 300px;
  border-radius: 5px 5px 0px 0px;"
  class="fb-page" data-href="https://www.facebook.com/jihadrinaldi" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/jihadrinaldi" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/jihadrinaldi">Jihad Rinaldi</a></blockquote></div>

    <br>
      <button type="button" class="btn btn-primary" onclick="postStatus()">Post to timeline</button>
  </center></h3>
<div>

<button type="button" class="btn btn-info" onclick="getUserData(), style.display='none'">Get information user</button>
</div>
<hr>


<div
onclick = "window.location.reload()"
class="fb-login-button"
data-max-rows="1"
data-size="large"
data-button-type="login_with"
data-show-faces="false"
data-auto-logout-link="true"
data-use-continue-as="true"
onclick="window.location.reload();"
data-scope="public_profile,user_posts, publish_actions ,user_about_me,email">

</div>
</center>

</div>
{% endblock %}
