<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#3b5998;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only" >Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="color:white;"class="navbar-brand" href="#">Joydun</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a style="color:white; background-color:#3b5998;"href="/lab-8/">FB Login<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a style="color:white;"href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Apps<span class="caret"></span></a>
          <ul class="dropdown-menu" >
            <li><a href="/lab-1/">Homepage</a></li>
            <li><a href="/lab-2/">Biodata</a></li>
            <li><a href="/lab-3/">Diary</a></li>
            <li><a href="/lab-4/">Portofolio</a></li>
            <li><a href="/lab-5/">Memo</a></li>
            <li><a href="/lab-6/">Calculator</a></li>
            <li><a href="/lab-7/">Fasilkom Database</a></li>
            <li><a href="/lab-8/">FB Login</a></li>

          </ul>
        </li>
      </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
