<!DOCTYPE html>
{% extends "lab_1/layout/base.html" %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body style="background-color: lightblue">
  <br>

    <h1>My First PPW Project</h1>
    <h1>Hello my name is {{ name }}</h1>
    <article>I am {{ age }} years old</article>

</body>

</html>
{% endblock %}
